<header id="summary" class="block" style="background-image: url('../../images/{{ backgroundImage }}')">
    <div class="header">
        <div class="payoff {{ presentRating.getOverall() }}">
            <p>{{ presentRating.getMessage() }}</p>
        </div>
        <div class="stationName">
            <i class="fa fa-location-arrow"></i>
            <span ng-click="toggleMenu()">{{ station.getName() }}</span>
        </div>
        <div class="measureTime">
            <i class="fa fa-clock-o"></i>
            <span><time-ago from-time='{{ presentData.getUpdatedTime() }}'></time-ago></span>
        </div>
    </div>
    <div class="measurements">
        <div class="measurement {{ presentRating.getTemp() }}">
            <div class="indicator">
                <div class="icon-container">
                    <i class="pe-7w-thermometer-1-2"></i>
                </div>
                <p>Temperatuur</p>
            </div>
            <div class="average">
                <div class="value-container">
                    <p>Normaal is het</p>
                    <span class="value">{{ historicData.getTempAvg() }}</span>
                    <span>&deg;C</span>
                </div>
            </div>
            <div class="indicator-value">
                <div class="value-container">
                    <p class="value">{{ presentData.getTemp() }}&deg;</p>
                    <p class="suffix">Celsius</p>
                </div>
            </div>
        </div>
        <div class="measurement {{ presentRating.getRain() }}">
            <div class="indicator">
                <div class="icon-container">
                    <i class="pe-7w-umbrella"></i>
                </div>
                <p>Regenval</p>
            </div>
            <div class="average">
                <div class="value-container">
                    <p>Normaal valt er</p>
                    <p class="value">{{ historicData.getRainAvg() }}</p>
                    <p>mm/uur</p>
                </div>
            </div>
            <div class="indicator-value">
                <div class="value-container">
                    <p class="value">{{ presentData.getRain() }}</p>
                    <p class="suffix">mm/uur</p>
                </div>
            </div>
        </div>
        <div class="measurement {{ presentRating.getWind() }}">
            <div class="indicator">
                <div class="icon-container">
                    <i class="pe-7w-wind"></i>
                </div>
                <p>Windkracht</p>
            </div>
            <div class="average">
                <div class="value-container">
                    <p>Normaal is het</p>
                    <span class="value">{{ historicData.getBeaufortAvg() }}</span>
                    <span>bft</span>
                </div>
            </div>
            <div class="indicator-value">
                <div class="value-container">
                    <p class="value">{{ presentData.getBeaufort() }}</p>
                    <p class="suffix">bft</p>
                </div>
            </div>
        </div>
    </div>
</header>